<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="logo">
      <img src="../assets/logo.jpg" alt="logo" />
    </div>

    <ul class="sidebarNav">
      <li>
        <a routerLink="/" routerLinkActive="active_link">
          <mat-icon
            aria-hidden="false"
            aria-label="Example dashboard icon"
            fontIcon="dashboard"
          ></mat-icon>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/universities" routerLinkActive="active_link">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"
          ></mat-icon>
          Universities
        </a>
      </li>
      <li>
        <a routerLink="/students" routerLinkActive="active_link">
          <mat-icon
            aria-hidden="false"
            aria-label="Example person icon"
            fontIcon="person"
          ></mat-icon>
          Students
        </a>
      </li>
      <li>
        <a routerLink="/courses" routerLinkActive="active_link">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="my_library_books"
          ></mat-icon>
          Courses
        </a>
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <div class="example-label">
        <button
          type="button"
          (click)="drawer.toggle()"
          mat-icon-button
          aria-label="Menu_icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span>UNIVERSITY MANAGEMENT SYSTEM</span>
      <span class="example-spacer"> </span>
      <!-- <button mat-raised-button (click)="openUniversityDialogue()">ADD</button> -->
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- <app-universities></app-universities> -->
  </div>
</mat-drawer-container>
